<web-app version="3.0" 
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>JobScheduler2 History</display-name>

	<servlet>
		<servlet-name>history_event</servlet-name>
		<servlet-class>com.sos.jobscheduler.history.master.servlet.HistoryEventServlet</servlet-class>

		<!-- temporary parameters start. TODO read from the ConfigurationService -->
		<init-param>
			<param-name>history_configuration</param-name>
			<!-- relative to ${jetty.base} -->
			<!-- see sample src/test/resources/history_configuration.ini -->
			<param-value>history_configuration.ini</param-value>
		</init-param>
		<!-- temporary parameters end -->

		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>history_executor</servlet-name>
		<servlet-class>com.sos.jobscheduler.history.master.servlet.HistoryExecutorServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
		<async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>history_event</servlet-name>
		<url-pattern>/history_event</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>history_executor</servlet-name>
		<url-pattern>/history_executor</url-pattern>
	</servlet-mapping>
</web-app>
