<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>JobScheduler History</display-name>

	<servlet>
		<servlet-name>history</servlet-name>
		<servlet-class>com.sos.jobscheduler.history.master.servlet.HistoryServlet</servlet-class>

		<!-- temporary parameters start. TODO read from the ConfigurationService -->
		<init-param>
			<param-name>hibernate_configuration</param-name>
			<param-value>hibernate.cfg.xml</param-value><!-- relative to ${jetty.base} -->
		</init-param>

		<init-param>
			<param-name>master_id</param-name>
			<param-value>jobscheduler2</param-value>
		</init-param>
		<init-param>
			<param-name>master_hostname</param-name>
			<param-value>localhost</param-value>
		</init-param>

		<init-param>
			<param-name>master_port</param-name>
			<param-value>4444</param-value>
		</init-param>

		<init-param>
			<param-name>master_use_login</param-name>
			<param-value>true</param-value>
		</init-param>

		<init-param>
			<param-name>master_user</param-name>
			<param-value>test</param-value>
		</init-param>

		<init-param>
			<param-name>master_user_password</param-name>
			<param-value>12345</param-value>
		</init-param>

		<init-param>
			<param-name>max_transactions</param-name>
			<param-value>100</param-value><!-- commit/store after n inserts -->
		</init-param>

		<init-param>
			<param-name>webservice_timeout</param-name>
			<param-value>60</param-value>
		</init-param>
		<init-param>
			<param-name>webservice_limit</param-name>
			<param-value>1000</param-value>
		</init-param>
		<init-param>
			<param-name>webservice_delay</param-name>
			<param-value>1</param-value>
		</init-param>
		<!-- milliseconds -->
		<init-param>
			<param-name>http_client_connect_timeout</param-name>
			<param-value>30000</param-value>
		</init-param>
		<init-param>
			<param-name>http_client_connection_request_timeout</param-name>
			<param-value>30000</param-value>
		</init-param>
		<init-param>
			<param-name>http_client_socket_timeout</param-name>
			<param-value>75000</param-value>
		</init-param>
		<init-param>
			<param-name>wait_interval_on_error</param-name>
			<param-value>30000</param-value>
		</init-param>
		<init-param>
			<param-name>wait_interval_on_empty_event</param-name>
			<param-value>1000</param-value>
		</init-param>
		<init-param>
			<param-name>max_wait_interval_on_end</param-name>
			<param-value>30000</param-value>
		</init-param>
		<!-- minutes -->
		<init-param>
			<param-name>keep_events_interval</param-name>
			<param-value>15</param-value>
		</init-param>
		<!-- mail -->
		<init-param>
			<param-name>mail_smtp_host</param-name>
			<param-value></param-value>
		</init-param>
		<init-param>
			<param-name>mail_smtp_port</param-name>
			<param-value>25</param-value>
		</init-param>
		<init-param>
			<param-name>mail_smtp_user</param-name>
			<param-value></param-value>
		</init-param>
		<init-param>
			<param-name>mail_smtp_password</param-name>
			<param-value></param-value>
		</init-param>
		<init-param>
			<param-name>mail_from</param-name>
			<param-value>jobscheduler2.0@localhost</param-value>
		</init-param>
		<init-param>
			<param-name>mail_to</param-name>
			<param-value></param-value>
		</init-param>
		<!-- temporary parameters end -->

		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>history</servlet-name>
		<url-pattern>/history</url-pattern>
	</servlet-mapping>

</web-app>
