<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
		
		<property name="jakarta.persistence.jdbc.driver">org.mariadb.jdbc.Driver</property>
		<property name="jakarta.persistence.jdbc.url">jdbc:mysql://localhost:3306/js7</property>
		<property name="jakarta.persistence.jdbc.user">root</property>
		<property name="jakarta.persistence.jdbc.password">root</property>
		
		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.format_sql">true</property>
		
		<!-- Hikari Connection Pool -->
		<property name="hibernate.connection.provider_class">org.hibernate.hikaricp.internal.HikariCPConnectionProvider</property>
		<property name="hibernate.hikari.maximumPoolSize">10</property>		
	</session-factory>
</hibernate-configuration>
