# Generate
;generateConfig.workflows                        = false
;generateConfig.agents                           = false
;generateConfig.schedules                        = false
;generateConfig.locks                            = false
;generateConfig.cyclicOrders                     = false

# Workflow
;workflowConfig.defaultTimeZone                  = Etc/UTC

# Workflow Job
;jobConfig.jitl.logLevel                         = INFO
;jobConfig.forcedGraceTimeout                    = 15
;jobConfig.forcedParallelism                     = 1
;jobConfig.forcedFailOnErrWritten                = false
jobConfig.forcedV1Compatible                    = true

# Agent
;agentConfig.forcedControllerId                  = js7  
;agentConfig.defaultControllerId                 = js7
; agentConfig.forcedAgent etc currently not working for autosys
;agentConfig.forcedAgent                         = {"platform":"WINDOWS"} 
agentConfig.forcedAgent                         = agent_standalone.json  
;agentConfig.defaultAgent                        = cluster_agent.json
;agentConfig.mappings                            = js1_agent1=agent_standalone.json; \
                                                   js1_agent2=cluster_agent.json
                                                   
# Mock
;mockConfig.jitl.mockLevel                       = INFO
# INFO      Log arguments and always end successfully
# ERROR     Log arguments and fail if required parameters are missing
mockConfig.shell.unixScript                     = $HOME/MockScript.sh
mockConfig.shell.windowsScript                  = %UserProfile%\MockScript.cmd

# Schedule
;scheduleConfig.forcedWorkingDayCalendarName        = AnyDays
;scheduleConfig.forcedNonWorkingDayCalendarName     = AnyDays
scheduleConfig.defaultWorkingDayCalendarName       = AnyDays
scheduleConfig.defaultNonWorkingDayCalendarName    = AnyDays   
;scheduleConfig.defaultTimeZone                  = Etc/UTC
scheduleConfig.planOrders                       = true
scheduleConfig.submitOrders                     = true

# Subfolders
subFolderConfig.mappings                        = aapg=2;ebzc=0;wmad=0;abcd=0
subFolderConfig.separator                       = _