#########################################################
# JS7 - Converter Download
# https://kb.sos-berlin.com/x/3dXqBg
#########################################################
# Generate
;generateConfig.workflows                       = false
;generateConfig.agents                          = false
;generateConfig.schedules                       = false
;generateConfig.locks                           = false
;generateConfig.calendars                       = false
;generateConfig.cyclicOrders                    = true

#Autosys
; cleanup - not impemented yet
autosys.input.cleanup                           = false
autosys.input.splitConfiguration                = false
; diagram
autosys.input.diagram.generate                  = true
autosys.input.diagram.optimizeBoxDependencies   = true
autosys.input.diagram.outputFormat              = svg
autosys.input.diagram.size                      = 0
autosys.input.diagram.graphviz.executable       = C:/Program Files/Graphviz/bin/dot.exe
autosys.input.diagram.graphviz.cleanupDotFiles  = true

# Workflow
;workflowConfig.defaultTimeZone                  = Etc/UTC

# Workflow Job
# default: #!/bin/bash
;jobConfig.shell.unix.defaultShebang             = #!/bin/sh
;jobConfig.forcedGraceTimeout                    = 15
;jobConfig.forcedParallelism                     = 2
;jobConfig.forcedFailOnErrWritten                = true
;jobConfig.forcedWarnOnErrWritten                = true
;jobConfig.forcedV1Compatible                    = true

# Agent
;agentConfig.forcedControllerId                 = js7  
;agentConfig.defaultControllerId                = js7
;agentConfig.forcedAgent                         = {"platform":"WINDOWS"} 
;agentConfig.forcedAgent                         = {"platform":"UNIX"}
;agentConfig.forcedAgent                         = {"platform":"WINDOWS","standaloneAgent":{"agentName":"primaryAgent","url":"http://localhost:4445"}} 
;agentConfig.forcedAgent                         = {"platform":"UNIX","standaloneAgent":{"agentName":"primaryAgent","url":"http://localhost:4445"}} 
;agentConfig.forcedAgent                         = agent_standalone.json  
;agentConfig.defaultAgent                        = cluster_agent.json
;agentConfig.mappings                            = js1_agent1=agent_standalone.json; \
                                                   js1_agent2=cluster_agent.json
                                                   
# Mock
;mockConfig.jitl.mockLevel                       = INFO
# INFO      Log arguments and always end successfully
# ERROR     Log arguments and fail if required parameters are missing
# mockConfig.shell.unixScript                     = $HOME/MockScript.sh
;mockConfig.shell.windowsScript                  = %UserProfile%\MockScript.cmd

# Schedule
;scheduleConfig.forcedWorkingDayCalendarName     = AnyDays
;scheduleConfig.forcedNonWorkingDayCalendarName  = AnyDays
scheduleConfig.defaultWorkingDayCalendarName    = AnyDays
;scheduleConfig.defaultNonWorkingDayCalendarName = AnyDays   
scheduleConfig.defaultTimeZone                  = Etc/UTC
scheduleConfig.planOrders                       = true
scheduleConfig.submitOrders                     = true

# Calendar
calendarConfig.forcedFolder                      = Calendars

# Subfolders
;subFolderConfig.mappings                        = aapg=2;ebzc=0;wmad=0;abcd=0
;subFolderConfig.separator                       = _