########################################################################################################################################################
# JS7 - Converter Download
# https://kb.sos-berlin.com/x/3dXqBg
########################################################################################################################################################
# Parser
########################################################################################################################################################
# default: jil 
# case-insensitive 
parserConfig.extensions                             = jil;txt
parserConfig.excluded.fileNames                     = machines.jil
########################################################################################################################################################
# Autosys
########################################################################################################################################################
# Creates separate XML files containing the original Autosys job definition for each standalone job (a job without any conditions) or for each BOX job.
#           Output directory: report/autosys.input.original/config
autosys.input.splitConfiguration                    = false

# diagram - Generates diagram files using the original Autosys definition. A Graphviz app installation is required.
#           Output directory: report/autosys.input.original/diagram
autosys.input.diagram.generate                      = false
# Attempts to resolve the Autosys conditions in order to reduce the displayed dependencies (arrows) between various jobs.
# Example: Display the dependencies as a sequence of jobs instead of showing multiple dependency arrows if such conditions are defined.
autosys.input.diagram.optimize.dependencies         = true
autosys.input.diagram.outputFormat                  = svg
autosys.input.diagram.size                          = 0
autosys.input.diagram.graphviz.executable           = C:/Program Files/Graphviz/bin/dot.exe
autosys.input.diagram.graphviz.cleanupDotFiles      = true
########################################################################################################################################################
# JS7
########################################################################################################################################################
# Generate
########################################################################################################################################################
;generateConfig.workflows                            = false
;generateConfig.agents                               = false
;generateConfig.schedules                            = false
;generateConfig.locks                                = false
;generateConfig.calendars                            = false
########################################################################################################################################################
# Workflow
########################################################################################################################################################
# default: Etc/UTC
workflowConfig.default.timezone                     = US/Pacific
########################################################################################################################################################
# Workflow Job
########################################################################################################################################################
;jobConfig.forced.graceTimeout                       = 15
;jobConfig.forced.parallelism                        = 2
jobConfig.forced.failOnErrWritten                   = true
;jobConfig.forced.warnOnErrWritten                   = true
;jobConfig.forced.v1Compatible                       = true

# Generate retry instructions for all jobs.
# default: Generate retry instructions if Autosys n_retrys is defined.
;jobConfig.forced.retry.maxTries                     = 10
;jobConfig.forced.retry.delays                       = 30;60;60

# default: empty
jobConfig.forced.shell.unix.commandPrefix           = source 
;jobConfig.forced.shell.windows.commandPrefix        = 

# default: #!/bin/bash
;jobConfig.default.shell.unix.shebang                = #!/bin/sh
########################################################################################################################################################
# Agent
########################################################################################################################################################
;agentConfig.forced.controllerId                     = js7  
;agentConfig.forced.agent                            = {"platform":"WINDOWS"} 
;agentConfig.forced.agent                            = {"platform":"UNIX"}
;agentConfig.forced.agent                            = {"platform":"WINDOWS","standaloneAgent":{"agentName":"primaryAgent","url":"http://localhost:4445"}} 
;agentConfig.forced.agent                            = {"platform":"UNIX","standaloneAgent":{"agentName":"primaryAgent","url":"http://localhost:4445"}} 
;agentConfig.forced.agent                            = examples/agent_standalone.json  

;agentConfig.default.controllerId                    = js7
;agentConfig.default.agent                           = examples/cluster_agent.json

# 1) configure agent mappings in this configuration file
;agentConfig.mappings                                = autosys_agent1=agent_standalone.json; \
                                                      autosys_agent2=cluster_agent.json
# 2) use external agent mappings configuration file (should have .config extension)
#    example of the contents of the file agent_mappings.config:
#       autosys_agent1  = examples/agent_standalone.json
#       autosys_agent2  = {"platform":"UNIX","standaloneAgent":{"agentName":"primaryAgent","url":"http://localhost:4445"}} 
#       autosys_agent3  = cluster_agent.json
#       autosys_agent4  = examples/agent_standalone.json
;agentConfig.mappings                                = agent_mappings.config 
########################################################################################################################################################
# Mock
########################################################################################################################################################
;mockConfig.forced.shell.unixScript                  = $HOME/MockScript.sh
;mockConfig.forced.shell.windowsScript               = %UserProfile%\MockScript.cmd

# INFO      Log arguments and always end successfully
# ERROR     Log arguments and fail if required parameters are missing
;mockConfig.forced.jitl.mockLevel                    = INFO
########################################################################################################################################################
# Schedule
########################################################################################################################################################
;scheduleConfig.forced.workingDayCalendarName        = AnyDays
;scheduleConfig.forced.nonWorkingDayCalendarName     = AnyDays
# If date_conditions=y|1, these settings are used, otherwise "false" is set
scheduleConfig.forced.planOrders                    = true
scheduleConfig.forced.submitOrders                  = true

scheduleConfig.default.workingDayCalendarName       = AnyDays
scheduleConfig.default.nonWorkingDayCalendarName    = AnyDays
# default: Etc/UTC   
scheduleConfig.default.timezone                     = US/Pacific
########################################################################################################################################################
# Calendar
########################################################################################################################################################
# All generated calendars will be placed in this folder; otherwise, they will be placed in the root directory
# default: root directory
calendarConfig.forced.folder                        = Calendars
########################################################################################################################################################
# Lock
########################################################################################################################################################
;lockConfig.forced.capacity                          = 9999

# Default capacity for locks is based on Autosys resources
# default: 1
;lockConfig.default.capacity                         = 9999
########################################################################################################################################################
# Boards
########################################################################################################################################################
# lifetime - in minutes or days
;boardConfig.forced.lifetime                          = 2 * 24 * 60

# Default lifetime if a condition does not define a lookback
# default: 24 * 60 (24h)
boardConfig.default.lifetime                         = 60d
