########################################################################################################################################################
# JS7 - Migration of JobScheduler 1.x - Converter Usage
# https://kb.sos-berlin.com/x/EAUMBQ
########################################################################################################################################################
# Generate
########################################################################################################################################################
;generateConfig.workflows                            = false
;generateConfig.agents                               = false
;generateConfig.jobTemplates                         = false
;generateConfig.schedules                            = false
;generateConfig.calendars                            = false
;generateConfig.locks                                = false
;generateConfig.cyclicOrders                         = false
########################################################################################################################################################
# JobScheduler 1.x
;js1.jobStream.generate.jobFileIfNotExists           = true
########################################################################################################################################################
# Parser
########################################################################################################################################################
parserConfig.excluded.directoryNames                = .sos-templates;.svn;.configuration
parserConfig.excluded.directoryPaths                = sos/
########################################################################################################################################################
# Workflow
########################################################################################################################################################
# default: Etc/UTC
;workflowConfig.default.timeZone                     = CET
########################################################################################################################################################
# Workflow Job
########################################################################################################################################################
;jobConfig.forced.graceTimeout                       = 15
;jobConfig.forced.parallelism                        = 2
;jobConfig.forced.failOnErrWritten                   = true
;jobConfig.forced.warnOnErrWritten                   = true
;jobConfig.forced.v1Compatible                       = true
;jobConfig.forced.jitl.logLevel                      = INFO
# default: #!/usr/bin/env pwsh
;jobConfig.forced.shell.unix.powershellShebang       = 
# default: @@findstr/v \"^@@f.*&\" \"%~f0\"|pwsh.exe -&goto:eof
;jobConfig.forced.shell.windows.powershellShebang    = @@findstr/v "^@@f.*&" "%~f0"|powershell.exe -&goto:eof

# default: #!/bin/bash
;jobConfig.default.shell.unix.shebang                = #!/bin/sh
########################################################################################################################################################
# Agent
########################################################################################################################################################
;agentConfig.forced.controllerId                     = js7  
;agentConfig.forced.agent                            = {"platform":"WINDOWS"} 
;agentConfig.forced.agent                            = {"platform":"UNIX"}
;agentConfig.forced.agent                            = {"platform":"WINDOWS","standaloneAgent":{"agentName":"primaryAgent","url":"http://localhost:4445"}} 
;agentConfig.forced.agent                            = {"platform":"UNIX","standaloneAgent":{"agentName":"primaryAgent","url":"http://localhost:4445"}} 
;agentConfig.forced.agent                            = examples/agent_standalone.json  

;agentConfig.default.controllerId                    = js7
;agentConfig.default.agent                           = see agentConfig.forced.agent examples

# 1) configure agent mappings in this configuration file
;agentConfig.mappings                                = js1_agent1=examples/agent_standalone.json; \
                                                      js1_agent2=examples/cluster_agent.json
# 2) use external agent mappings configuration file (should have .config extension)
#    example of the contents of the file agent_mappings.config:
#       js1_agent1  = examples/agent_standalone.json
#       js1_agent2  = {"platform":"UNIX","standaloneAgent":{"agentName":"primaryAgent","url":"http://localhost:4445"}} 
#       js1_agent3  = examples/cluster_agent.json
#       js1_agent4  = examples/agent_standalone.json
;agentConfig.mappings                                = agent_mappings.config 
########################################################################################################################################################
# Mock
########################################################################################################################################################
;mockConfig.forced.shell.unixScript                  = $HOME/MockScript.sh
;mockConfig.forced.shell.windowsScript               = %UserProfile%\MockScript.cmd

# INFO      Log arguments and always end successfully
# ERROR     Log arguments and fail if required parameters are missing
;mockConfig.forced.jitl.mockLevel                    = INFO
########################################################################################################################################################
# Schedule
########################################################################################################################################################
;scheduleConfig.forced.workingDayCalendarName        = AnyDays
;scheduleConfig.forced.nonWorkingDayCalendarName     = NonWorkingDays
scheduleConfig.forced.planOrders                    = true
scheduleConfig.forced.submitOrders                  = true

# default: AnyDays
;scheduleConfig.default.workingDayCalendarName       = AllDays
# default: NonWorkingDays
;scheduleConfig.default.nonWorkingDayCalendarName    = Holidays
# default: Etc/UTC   
;scheduleConfig.default.timezone                     = CET
########################################################################################################################################################
# Calendar
########################################################################################################################################################
;calendarConfig.forced.folder                        = Calendars
