<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                pattern="%d{HH:mm:ss.SSS}[%5p][%t] (%F:%L) - %m%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="console" />
        </Root>
        <Logger name="org.hibernate" level="fatal" />
        <Logger name="com.mchange.v2" level="fatal" />
        <Logger name="com.sos" level="debug" />
        <Logger name="com.sos.joc.classes.calendar.FrequencyResolver" level="warn" />
        <Logger name="com.sos.joc.dailyplan.DailyPlanRunner" level="warn" />
        <Logger name="com.sos.joc.dailyplan.common.PeriodResolver" level="warn" />
        <Logger name="com.sos.joc.dailyplan.common.DailyPlanHelper" level="warn" />
        <Logger name="com.sos.commons.hibernate" level="warn" />
    </Loggers>
</Configuration>