<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Properties>
		<Property name="ControllerId">standalone</Property>
	</Properties>
	<Appenders>
		<Syslog name="RFC5424" format="RFC5424" host="localhost" port="4514"
            protocol="UDP" charset="UTF-8" facility="LOCAL0" newLine="false">
            <PatternLayout pattern="&lt;134&gt;1 %d{ISO8601}{ETC/UTC}Z ${hostName} JS7 Controller {
&quot;host&quot;:&quot;${hostName}&quot;,
&quot;controllerId&quot;:&quot;${ControllerId}&quot;,
&quot;thread&quot;:&quot;%t&quot;,
&quot;level&quot;:&quot;%p&quot;,
&quot;logger&quot;:&quot;%c{1}&quot;,
&quot;message&quot;:&quot;%enc{%m}{JSON}&quot;,
&quot;exception&quot;:&quot;%enc{%throwable{10}}{JSON}&quot;
}"
  			/>
  		</Syslog>
	</Appenders>

	<Loggers>
		<Root level="info">
			<AppenderRef ref="RFC5424"/>
		</Root>
	</Loggers>
</Configuration>