<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<!-- Appender for root logger -->
		<Console name="stdout" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{ISO8601}{Europe/Berlin} %-5p %c{1.}:%L - %m%n"/>
		</Console>
	</Appenders>

	<Loggers>
		<Logger name="com.sos" level="trace"/>
		<Logger name="net" level="trace"/>

		<!-- root logger with console appender. All other loggers inherit from this logger. -->
		<Root level="info">
			<AppenderRef ref="stdout"/>
		</Root>
	</Loggers>
</Configuration>