<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<!-- Appender for root logger -->
		<Console name="stdout" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t] (%F:%L) - %m%n" />
		</Console>
	</Appenders>

	<Loggers>
		<Logger name="com.sos" level="debug" />
		<Logger name="net" level="debug" />

		<!-- root logger with console appender. All other loggers inherit from 
			this logger. -->
		<Root level="info">
			<AppenderRef ref="stdout" />
		</Root>
	</Loggers>
</Configuration>