#################################################################################################################
# YADE Configuration
#   XML         : Fragments -> ProtocolFragments -> SFTPFragment -> ConfigurationFiles -> ConfigurationFile
#################################################################################################################

#################################################################################################################
# KEY EXCHANGE (KEX)- a semicolon-separated list of allowed SSH key exchange (KEX) algorithms
# default/all:      curve25519-sha256; curve25519-sha256@libssh.org; diffie-hellman-group-exchange-sha256; ecdh-sha2-nistp521; ecdh-sha2-nistp384; ecdh-sha2-nistp256; diffie-hellman-group-exchange-sha1; diffie-hellman-group1-sha1; diffie-hellman-group14-sha1; diffie-hellman-group14-sha256; diffie-hellman-group15-sha512; diffie-hellman-group16-sha512; diffie-hellman-group17-sha512; diffie-hellman-group18-sha512; diffie-hellman-group14-sha256@ssh.com; diffie-hellman-group15-sha256; diffie-hellman-group15-sha256@ssh.com; diffie-hellman-group15-sha384@ssh.com; diffie-hellman-group16-sha256; diffie-hellman-group16-sha384@ssh.com; diffie-hellman-group16-sha512@ssh.com; diffie-hellman-group18-sha512@ssh.com; ext-info-c
#################################################################################################################
;sos.sshj.kex       =
;sos.sshj.kex        =diffie-hellman-group18-sha512
sos.sshj.kex        =curve25519-sha256

#################################################################################################################
# KEY ALGORITHMS    - a semicolon-separated list of allowed SSH public key algorithms
# default/all:      ssh-ed25519-cert-v01@openssh.com; ssh-ed25519; ecdsa-sha2-nistp521-cert-v01@openssh.com; ecdsa-sha2-nistp521; ecdsa-sha2-nistp384-cert-v01@openssh.com; ecdsa-sha2-nistp384; ecdsa-sha2-nistp256-cert-v01@openssh.com; ecdsa-sha2-nistp256; rsa-sha2-512; rsa-sha2-256; ssh-rsa-cert-v01@openssh.com; ssh-dss-cert-v01@openssh.com; ssh-rsa; ssh-dss
#################################################################################################################
;sos.sshj.keyalg     =
sos.sshj.keyalg     = rsa-sha2-512

#################################################################################################################
# CIPHERS           - a semicolon-separated list of allowed SSH cipher algorithms
# default/all:      chacha20-poly1305@openssh.com; aes128-cbc; aes128-ctr; aes192-cbc; aes192-ctr; aes256-cbc; aes256-ctr; aes128-gcm@openssh.com; aes256-gcm@openssh.com; blowfish-cbc; blowfish-ctr; cast128-cbc; cast128-ctr; idea-cbc; idea-ctr; serpent128-cbc; serpent128-ctr; serpent192-cbc; serpent192-ctr; serpent256-cbc; serpent256-ctr; 3des-cbc; 3des-ctr; twofish128-cbc; twofish128-ctr; twofish192-cbc; twofish192-ctr; twofish256-cbc; twofish256-ctr; twofish-cbc; arcfour; arcfour128; arcfour256
#################################################################################################################
;sos.sshj.ciphers    =
;sos.sshj.ciphers    = aes256-ctr; xxx
sos.sshj.ciphers    = chacha20-poly1305@openssh.com

#################################################################################################################
# MACs              - a semicolon-separated list of allowed SSH MAC (message authentication code) algorithms
# default/all:      hmac-sha1; hmac-sha1-etm@openssh.com; hmac-sha1-96; hmac-sha1-96@openssh.com; hmac-md5; hmac-md5-etm@openssh.com; hmac-md5-96; hmac-md5-96-etm@openssh.com; hmac-sha2-256; hmac-sha2-256-etm@openssh.com; hmac-sha2-512; hmac-sha2-512-etm@openssh.com; hmac-ripemd160; hmac-ripemd160-etm@openssh.com; hmac-ripemd160-96; hmac-ripemd160@openssh.com
#################################################################################################################
;sos.sshj.macs       =
;sos.sshj.macs       = hmac-sha2-512
sos.sshj.macs       = hmac-sha2-512;hmac-sha2-256
