<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect
		</property>
		<property name="hibernate.connection.driver_class">org.mariadb.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/js7</property>

		<!--property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property> 
			<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property> 
			<property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:xe</property -->

		<!--property name="hibernate.dialect">org.hibernate.dialect.SQLServer2005Dialect</property> 
			<property name="hibernate.connection.driver_class">net.sourceforge.jtds.jdbc.Driver</property> 
			<property name="hibernate.connection.url">jdbc:jtds:sqlserver://localhost:1433;instance=SQLEXPRESS2008R2;selectMethod=cursor;databaseName=js7</property -->

		<!--property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property> 
			<property name="hibernate.connection.driver_class">org.postgresql.Driver</property> 
			<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/js7</property -->


		<property name="hibernate.connection.password">js7</property>
		<property name="hibernate.connection.username">js7</property>

		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.connection.autocommit">false</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>


	</session-factory>
</hibernate-configuration>
